body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

.main-container {
  background-color: white;
  order: 1;
  width: 100%;
}

.main-sidebar {
  order:0;
  width: 176px;
}

.main-header {
  height: 80px;
  position: relative;
}

.main-header ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header li {
  list-style: none;
}

.main-header nav, .search{
  position: absolute;
}

.user-menu {
  top: 5px;
  right: 5px;
}

.talk-menu {
  bottom: 5px;
  left: 5px;
}

.edit-menu {
}

.search {
bottom: 5px;
right: 5px;
}

.search input {
  width: 300px;
}

.edit-menu {
  position: absolute;
  bottom: 5px;
  right: 310px;
}

main {
  padding: 20px;
  border: 1px solid #a7d7f9;
  border-right-width: 0;
}

main > h1, h2 {
  border-bottom: 1px solid #aaa;
}

.biography {
  width: 270px;
  background-color: #f9f9f9;
  float: right;
  border: 1px solid #aaa;
  margin: 6px 0 12px 12px;
  padding: 25px;
  box-sizing: border-box;
}

.main-footer {
  background-color: grey;
  height: 150px;
}
